<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Visual Studio Code Snippet Generator</title>

    <link rel="stylesheet" href="~/lib/bootswatch/sketchy/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main class="container my-5">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
