@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12 col-lg-6">
        <form method="POST" asp-page="Index" class="clearfix">
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="SnippetInput.Name"></label>
                        <input asp-for="SnippetInput.Name" class="form-control" />
                        <span asp-validation-for="SnippetInput.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SnippetInput.Prefix"></label>
                        <input asp-for="SnippetInput.Prefix" class="form-control" />
                        <span asp-validation-for="SnippetInput.Prefix" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="SnippetInput.TabLength"></label>
                        <input asp-for="SnippetInput.TabLength" min="2" max="8" list="SpacesPerTab" class="form-control" />
                        <span asp-validation-for="SnippetInput.TabLength" class="text-danger"></span>
                        <datalist id="SpacesPerTab">
                            <option value="2" />
                            <option value="4" />
                        </datalist>
                    </div>
                    <div class="form-check text-right">
                        <input asp-for="SnippetInput.ConvertToTabs" class="form-check-input">
                        <label asp-for="SnippetInput.ConvertToTabs" class="form-check-label"></label>
                    </div>
                    <div class="mt-3 text-right">
                        <i class="fas fa-question-circle text-primary mr-3"></i>
                        <a href="https://code.visualstudio.com/docs/editor/userdefinedsnippets" target="_blank">
                            Need some help?
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SnippetInput.Body"></label>
                <textarea asp-for="SnippetInput.Body" rows="10" class="form-control"></textarea>
                <span asp-validation-for="SnippetInput.Body" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="SnippetInput.Description"></label>
                    <textarea asp-for="SnippetInput.Description" rows="2" class="form-control"></textarea>
                    <span asp-validation-for="SnippetInput.Description" class="text-danger"></span>
                </div>
                    <div class="form-check text-right">
                    <input asp-for="SnippetInput.HasDescription" class="form-check-input">
                    <label asp-for="SnippetInput.HasDescription" class="form-check-label"></label>
                </div>
            </div>
            <button type="reset" class="btn btn-danger">Reset</button>
            <a href="/" class="btn btn-success">New Snippet</a>
            <button type="submit" class="btn btn-primary float-right">Generate</button>
        </form>
    </div>
    <div class="col-12 col-lg-6 clearfix">
        <form method="POST" asp-page="Index" asp-page-handler="Deserialize">
            <div class="form-group">
                <label asp-for="SnippetOutput"></label>
                <textarea asp-for="SnippetOutput" rows="20" class="form-control snippet-area"></textarea>
                <span asp-validation-for="SnippetOutput" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-secondary">Deserialize</button>
            <button type="button" id="CopyToClipboard" class="btn btn-primary float-right">Copy To Clipboard</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/script/form.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}